/* App.css */
.container {
  text-align: center;
}

.center-content {
  display: flex;
  justify-content: center;
}

.button-table {
  margin: auto;
}

.button-table td {
  padding: 10px;
}

.button {
  width: 120px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
}

.graph-container {
  width: 80%; /* Adjust width as needed */
  max-width: 500px; /* Set a maximum width */
  margin: 0 auto; /* Center the container horizontally */
}

.graph {
  width: 100%; /* Ensure the graph fills the container */
}

